.container {
  width: 100%;
  padding: 6vw 2vw;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.card {
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  border-radius: 1vw;
  padding: 2vw 2vw;
}

.cIcon {
  font-size: 10vw;
}
.cHeader {
  font-weight: 400;
  font-size: 3.5vw;
}
.cPara {
  font-weight: 300;
  font-size: 3vw;
  margin-top: 5px;
}
@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
  .cIcon {
    font-size: 7vw;
  }
  .cHeader {
    font-size: 3vw;
  }
  .cPara {
    font-size: 2.4vw;
    margin-top: 5px;
  }
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    border-radius: 1vw;
    padding: 2vw 1vw;
  }

  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .cIcon {
    font-size: 5vw;
  }
  .cHeader {
    font-size: 1.8vw;
  }
  .cPara {
    font-size: 1.4vw;
    margin-top: 5px;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    padding: 5vw 4vw;
  }
  .card {
    border-radius: 1vw;
    padding: 2vw 1vw;
  }

  .wrapper {
    gap: 24px;
  }
  .cIcon {
    font-size: 4vw;
  }
  .cHeader {
    font-size: 1.5vw;
  }
  .cPara {
    font-size: 1.2vw;
    margin-top: 5px;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .container {
    width: 100%;
    padding: 3vw 4vw;
  }
  .card {
    border-radius: 1vw;
    padding: 2vw 1vw;
  }

  .wrapper {
    gap: 24px;
  }
  .cIcon {
    font-size: 3.4vw;
  }
  .cHeader {
    font-size: 1.2vw;
  }
  .cPara {
    font-size: 0.92vw;
    margin-top: 5px;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
