.container {
  height: 50vw;
  overflow: hidden;
  position: relative;
}
.image,
.video {
  width: 100%;
  height: 100%;
  height: 50vw;
  object-fit: cover;
  object-position: top;
}

.videoWrapper {
  width: 50vw;
  position: relative;
}

.lArwWrapper,
.rArwWrapper {
  position: absolute;
  top: 45%;
  z-index: 3;
}
.arw {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  background: rgba(93, 92, 92, 0.408);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.1vw;
  cursor: pointer;
}
.disabled {
  opacity: 0;
  transition: all 300ms ease;
}
.lArwWrapper {
  left: 2vw;
  transition: all 300ms ease;
}
.rArwWrapper {
  right: 2vw;
  transition: all 300ms ease;
}
